body {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.form {
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

.options {
	margin-bottom: 20px;
}

button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

#password {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
